.nav-outer{
    display: flex;
    justify-content: center;
    width: 110%;
    -webkit-box-shadow: 10px 8px 20px rgba(127, 82, 0, 0.3);
    -moz-box-shadow: 10px 8px 20px rgba(127, 82, 0, 0.3);
    box-shadow: 10px 8px 20px rgba(127, 82, 0, 0.3);
    background-color: var(--main-nav);
    z-index: 1;
}
.main-nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95vh;
    overflow: hidden;
    color: #fff;
    padding: 30px 0 10px 0;
    box-sizing: border-box;
}
.app-bar{
    width: 100%;
    background: #fff;
    height: 45px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 5px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}
.app-bar-title {
    font-size: 1.8rem;
    margin-left: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    color: #664200;
    background: #ffedcc;
    padding-right: 15px;
    font-weight: 600;
}
.app-bar-search{
    padding: 0 15px !important;
    border-radius: 20px !important;
    margin-top: 2px !important;
}
.logo-wrap {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px auto;
    overflow: hidden;
    img{
        width: 100%;
    }
}
.logo-label1, .logo-label2{
    color: var(--main-nav);
    font-size: 3rem;
    width: 100%;
    box-sizing: border-box;
    padding-left: 32px;
    line-height: 22px;
}
.logo-label1{
    font-weight: bold;
}
.nav-link, .nav-footer{
    color: #664200;
}
.nav-links, .nav-link{
    width: 100%;
    text-align: right;
    box-sizing: border-box;
}
.nav-link{
    display: block;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.5rem;
    border-bottom: 1px solid transparent;
    &:hover{
        color: #fff;
        background: #e59400;
        border-bottom: 1px solid #ffdb99;
    }
}
.nav-link-active{
    color: #fff;
    background: #e59400;
    border-bottom: 1px solid #ffdb99;
}
.nav-footer{
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    font-style: italic;
    color: #fff;
    width: 100%;
}
.loggedin-user{
    display: flex;
    align-items: center;
}
.liu-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    img{
        width: 100%;
    }
}
.liu-name{
    margin-right: 10px;
    cursor: pointer;
    color: #7474f8;
}
.app-bar-rhs{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.user-menus{
    position: absolute;
    top: 43px;
    right: 0px;
    width: 200px;
    z-index: 10;
    background-color: var(--main-nav);
    color: #fff;
    -webkit-box-shadow: 10px 8px 20px rgba(21, 22, 36, 0.3);
    -moz-box-shadow: 10px 8px 20px rgba(21, 22, 36, 0.3);
    box-shadow: 10px 8px 20px rgba(21, 22, 36, 0.3);
    li{
        padding: 5px 10px;
        box-sizing: border-box;
        width: 100%;
        cursor: pointer;
        border-bottom: 1px solid rgb(75, 75, 75);
        &:hover{
            background: #202031;
        }
    }
}
.app-bar-icons{
    display: flex;
    margin-right: 10px;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
}
.app-bar-icons svg{
    width: 20px;
    margin-right: 15px;
    cursor: pointer;
}