.dashboard-wrap{
}
.db-stats{
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.db-stat{
    width: 200px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 20px;
    margin-top: 20px;
    border-radius: 7px;
    background: #fdfdfd;
    -webkit-box-shadow: 0 8px 16px var(--shadow-color);
    -moz-box-shadow: 0 8px 16px var(--shadow-color);
    box-shadow: 0 8px 16px var(--shadow-color);
}
.db-stat:hover{
    border: 1px solid #eee;
    background: #fff;
}
.stat-head{
    font-weight: 600;
    font-size: 26px;
}
.stat-label{
    font-size: 14px;
    color: #777;
}
.stat-bottom-liner{
    width: 100%;
    height: 2px;
    border-radius: 20px;
    margin-top: 10px;
}
.stat-blue{
    .stat-head{
        color: rgb(116, 116, 248);
    }
    .stat-bottom-liner{
        background: rgb(116, 116, 248);
    }
}
.stat-green{
    .stat-head{
        color: rgb(26, 223, 124);
    }
    .stat-bottom-liner{
        background: rgb(26, 223, 124);
    }
}
.stat-red{
    .stat-head{
        color: #ff2500;
    }
    .stat-bottom-liner{
        background: #ff2500;
    }
}
.stat-orange{
    .stat-head{
        color: rgb(218, 152, 12);
    }
    .stat-bottom-liner{
        background: rgb(218, 152, 12);
    }
}
.db-section-wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    padding: 0 10px;
    box-sizing: border-box;
}
.db-section{
    background: #fdfdfd;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #eee;
    min-height: 200px;
    max-height: 310px;
    overflow-y: auto;
    overflow-x: hidden;
}
.db-sect-100{
    width: 100%;
}
.db-sect-65{
    width: 64%;
}
.db-sect-50{
    width: 49%;
}
.db-sect-35{
    width: 34%;
}
.db-sect-32{
    width: 32%;
}
.db-sect-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
}
.db-sect-body{
    margin-top: 10px;
}
.db-sect-title{
    font-weight: bold;
    color: #777;
    font-size: 16px;
}
.db-header-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.db-header-action{
    margin-left: 10px;
    cursor: pointer;
    color: rgb(116, 116, 248);
    border-bottom: 1px solid transparent;
}
.db-header-action:hover{
    border-bottom: 1px solid rgb(116, 116, 248);
}
.list-item-body{
    max-height: 190px;
    overflow: auto;
}
.list-item-body .item-row{
    border-bottom: 1px solid #aaa;
    padding: 8px 0;
    cursor: pointer;
}
.list-item-body .item-row:hover{
    background: #eee;
}
.item-row{
    display: flex;
    justify-content: space-between;
}
.list-item-head{
    font-weight: bold;
    color: #333;
}
.list-item1{
    width: 60%;
}
.list-item{
    width: 20%;
}
.db-has-borders{
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding-top: 40px;
    padding-bottom: 40px;
}
.db-has-border{
    border-bottom: 1px solid #aaa;
    padding-bottom: 40px;
}