@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
  --primary-color: #ffbb00;
  --primary-color-lite: #d5f88e;
  --text-color: #333;
  --text-color-lite: rgb(99, 99, 99);
  --input-color: #aaa;
  --input-border: #ddd;
  --main-nav-bg: rgb(26, 0, 14);
  --main-nav-bg-lite: rgba(26, 0, 14, 0.24);
  --glass-input: rgba(109, 80, 95, 0.719);
  --glass-bg: rgba(255, 255, 255, 0.452);

  --bg-color: #fff;
  --main-nav: #ffc966;

  --section-title: #ffbb00;
  --footer-bg: #000;
  --footer-color: rgb(218, 216, 216);

  --btn-blue: rgb(71, 71, 223);
  --btn-blue-hover: rgb(58, 58, 209);
  --btn-blue-active: rgb(23, 23, 156);

  --btn-default: #ddd;
  --btn-default-hover: rgb(199, 199, 199);
  --btn-default-active: rgb(136, 136, 136);

  --table-row-hover: #d8e5f1;
  --text-primary: #040e28;
  --text-secondary: #646d82;
  --disabled: #a6b1c2;
  --white: #ffffff;
  --success: #22ce8b;
  --success-lite: lighten(var(--success), 10%);
  --error: #f46363;
  --error-lite: rgba(245, 109, 109, 0.1);
  --warning: #ffcd54;
  --bg-grey-dark: #dce1ea;
  --bg-grey-medium: #e6eaf0;
  --bg-grey-light: #f0f2f7;
  --bg-grey-lighter: #f9fafc;
  --color-blue-lite: rgba(0, 110, 255, 0.1);
  --color-blue-liter: rgba(0, 110, 255, 0.02);
  --color-green-lite: rgba(34, 206, 139, 0.1);
  --color-orange-lite: rgba(255, 173, 48, 0.1);
  --main-bg-color: var(--bg-grey-light);
  --shadow-color: rgba(148, 148, 148, 0.25);
  --modal-shadow-color: rgba(0, 0, 0, 0.43);

  --primary-button-color: #1f7fff;
    --primary-button-hover-state: #3fa9f5;
    --primary-button-pressed-state: #0071bc;
    --primary-button-lite: rgba(0, 99, 233, 0.1);
    --primary-button-lite-hover-state: rgba(0, 99, 233, 0.2);
    --primary-button-lite-pressed-state: rgba(0, 99, 233, 0.3);
    --hollow-button-border: #e9ecf2;
    --hollow-button-hover-bg: #fafafb;
    --green-button-hover-bg: #1ebd80;
    --green-button-pressed-bg: #19ac73;
    --green-button-lite: rgba(34, 206, 139, 0.1);
    --green-button-lite-hover: rgba(20, 201, 131, 0.2);
    --green-button-lite-pressed: rgba(20, 201, 131, 0.3);
    --red-button-hover: #dd5252;
    --red-button-pressed: #d64343;
    --red-button-lite: rgba(244, 99, 99, 0.3);
    --red-button-lite-hover: rgba(244, 99, 99, 0.4);
    --red-button-lite-pressed: rgba(244, 99, 99, 0.5);
    --input-disabled-bg: var(--bg-grey-lighter);
}

html {
  font-size: 10px;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  image-rendering: optimizeQuality;
}
body{
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  line-height: 1.42857;
  font-family: "raleway";
  color: var(--text-color);
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  outline: 0;
}

li {
  outline: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}