.login-frm-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    position: absolute;

    form{
        width: 400px;
        padding: 20px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        .btn{
            margin: 20px auto;
        }
        .input-group {
            margin: 0px auto;
        }
    }
}
.auth-title {
    font-size: 3rem;
    color: var(--text-color);
    margin-left: 20px;
}